.terminalLine::before {
    content: "bash-3.2$ ";
    color: var(--secondary-color);
}
.terminalLine{
    margin-top: 0.5rem;
}
.container div{
    font-family: 'JetBrains Mono', monospace;
}
.container a{
    color: var(--secondary-color);
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
}
.container{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 100vw;
    height: 93vh;
    margin: 0 auto;
    font-size: 1rem;
}
.container p{
    margin: 0;
    padding: 0;
    color: var(--text-secondary-color);
    font-size: 1rem;
}
.comment{
    color: #333333;
}
.multiResult::before{
    content: "| - ";
    color: var(--text-secondary-color);
}
.multiResult::after{
    content: ".";
    color: var(--text-secondary-color);
}
.multiResult{
    color: var(--text-secondary-color);
}
