.containerWidth{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 85vw;
    height: 20vh;
    border-radius: 30px;
    background: rgba(2,75, 172,0.2);
    backdrop-filter: blur(5px); /* Creates the glass effect */
    -webkit-backdrop-filter: blur(5px); /* For Safari support */
    border: 1px solid var(--primary-color); /* Subtle border for the glass effect */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5); /* Optional shadow for depth */
    overflow: hidden;
}

.content{
    display: flex;
    height: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .text {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .content{
        display: none;
    }
}






